body
{
    /*font-family: Verdana; !*Шрифт для все страницы.*!*/
    border: 0.5px;
    border-style: dotted;
    margin: 30px 150px 30px 150px;
    padding: 5px 30px 40px 30px;
}

h1 {
    font-size: 32px;
}

.size {
    font-size: 18px;
    text-align: right;
    /*!*width: 900px;*/

}
input {
    width:  850px;
    height: 15px;
    margin-left: 20px;  /*Отступ поля ввода от текста*/
    direction:RTL

}